@model IEnumerable<newsoft.News>

@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-9">
    <h2>Latest news</h2>
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    @foreach (var n in Model)
    {
        <div id="article">
            <h2>@n.title</h2>
            <p>@n.shortdesc</p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
    }    
</div>
<div class="col-md-3">
    <h2>Most viewed</h2>
    @foreach (var n in (List<News>)ViewBag.TopViewed)
    {
        <div id="article">
            <h2>@n.title</h2>
            <p>@n.shortdesc</p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details &raquo;</a>
            </p>
        </div>
    }    
</div>