<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/blog/blog.css">
  </head>
  <body>
      <nav class="navbar navbar-static-top navbar-inverse">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/home">NEWSOFT</a>
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                  <form class="navbar-form navbar-left">
                      <input type="text" class="form-control" placeholder="Search news...">
                  </form>

                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="#">Login</a></li>
                  </ul>
              </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->

        <div class="container">
            <div class="blog-header">
                <h1 class="blog-post-title">{{ news.title }}</h1>
                <p class="lead blog-description">Group: {{ cate.name }} | {{news.date_created}}</p>
                <hr>
            </div>
            <div class="blog-main">
                <div class="blog-post">
                    {{ news.content }}
                </div>
            </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
